/*
Theme Name: Ruander Simple Theme
Theme URI: https://ruander.hu
Author: George Horvath
Author URI: https://ruander.hu
Description: Basic WordPress theme for Ruander theme building tutorial
Text Domain: ruander
Version: 1.0.0
License: GNU General Public License v2 or later
*/
:root {
    --f:46px;/*documentum szintű*/
}
body.logged-in.admin-bar #mainNav {
    margin-top: 32px;
}
#post-13 {
    --r : 10deg ;/*elem szintű*/
    transform:rotate(var(--r));
}
@media screen and (max-width: 782px) {
    body.logged-in.admin-bar #mainNav {
        margin-top: var(--f);
    }
}